<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/form-stylesheet.css}" rel="stylesheet">
</head>
<body>
    <div class="topnav">
        <a class="active" th:href="@{/}">Game Store</a>
        <a th:href="@{/inventory}">Inventory</a>
    </div>
    <div class="container">
        <h2>MHO Game Store</h2>
        <form method="post" th:object="${games}" th:action="@{/submit}">
            <select class="select" th:field="*{category}">
                <option style="color:blue" value="">Choose Genre</option>
                <option th:each="category : ${categories}" th:text="${category}" th:value="${category}">Placeholder</option>
            </select>
            <input type="text" placeholder="Game Title" th:field="*{title}">
            <input class="half" type="text" placeholder="Price" th:field="*{price}">
            <input class="half" type="text" placeholder="Discount" th:field="*{discount}">
            <h4>Release Date</h4>
           
            <input type="date" id="date" th:field="*{date}"/><br/>
            <input type="hidden"  th:field="*{id}"/><br/>

           
            <input type="submit" value="Add Game">
        </form>
    </div>
</body>
</html>
